/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-Sep-2013, 08:26:24
    Author     : Ryan
*/

@image-dir: '../images/';

body {
	margin:0;
	padding:0;
}

#gmaps-border{
	position:relative;
	width: 1024px;
	height: 768px;
	margin: 0 auto;
	
	#ui{
		#top-ui{
			position: absolute;
			top:0;
			left:0;
			right:0;
			margin:0 auto;
			width: 808px;
			height: 92px;
			background-image: url("@{image-dir}ui/top-nav-background.png");
		}
		#bottom-ui{
			position: absolute;
			bottom:0;
			left:0;
			right:0;
			margin:0 auto;
			width: 830px;
			height: 166px;
			background-image: url("@{image-dir}ui/bottom-nav-background.png");
		}

		/* Google Maps Container */
		#gmaps-container{ //Temp sizes at the moment, for development
			width:100%; 
			height:100%;
		}
	}
	
	
	/* Menu Boxes */
	#dialog-box{
		display:none; 
		position:absolute; 
		top: 0; 
		left: 0; 
		bottom: 0; 
		right: 0; 
		width:100px;
		height:100px; 
		background: #fff;
		border:1px solid;
		//margin: auto;
	}
	
	#action-box{
		display:none;
		position:absolute; 
		top: 0; 
		left: 0; 
		bottom: 0; 
		right: 0; 
		width:170px;
		height:170px; 
		background: #fff;
		border:1px solid;
		//margin: auto;
	}
	
	/* Hidden Information */
	#click_destination{
		display: none;
		visibility: hidden;
	}
}